# Source string for ROS2. Usage: ```source $sr```
export sr="source /opt/ros/humble/setup.bash"
export zsr="source /opt/ros/humble/setup.zsh"

# Source string for local colcon. Usage ```source $slc```
export slc="source install/local_setup.bash"
export zslc="source install/local_setup.zsh"

# Source string for colcon. Usage ```source $sc```
export sc="source install/setup.bash"
export zsc="source install/setup.zsh"
