# Source string for ROS2. Usage: ```source $sr```
export sr="/opt/ros/humble/local_setup.$(basename $SHELL)"

# Source string for local colcon. Usage ```source $slc```
export slc="install/local_setup.$(basename $SHELL)"

# Source string for colcon. Usage ```source $sc```
export sc="install/setup.$(basename $SHELL)"
