# Ignore everything by default
/*

!.devcontainer/
!.github/
!.vscode/
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/tasks.json
!containers-ros2/
!.envrc
!.gitignore
!.pre-commit-config.yaml
!CODEOWNERS
!LICENCE
!README.md
